*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* height: 100vh; */
    font-family: "IBM Plex Sans Arabic", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

nav{
    width: 100%;
height: 45px;
margin-top: 40px;
margin-bottom: 40px;
/* margin: 46px 182px 130px 182px; */
display: flex;
/* justify-content: space-between; */
justify-content: center;
align-items: center;
}
.img-1{
    width: 187px;
    height: 45px;
    margin-right: 40px;
    display: flex;
}
.link{
    width: 403px;
    height: 16px;
    margin: 15px 46px;
    display: flex;
    justify-content: space-between;
}
.link-a1,
.link-a2,
.link-a3,
.link-a4{
    text-decoration: none;
    color: #12376B;
}

.link-input{
    /* width: 272px; */
height: 45px;
border-radius: 22.5px;
margin-left: 30px;
gap: 15px;
display: flex;
align-items: center;
}

.input-1{
    /* font-family: Arabic UI Display; */
font-size: 15.25px;
font-weight: 700;
line-height: 16px;
text-align: center;
margin: 20px 24px 14px 0px;
color: #D12215;
display: flex;
text-decoration: none;
}
.input-2{
    text-decoration: none;
    width: 163px;
height: 45px;
border-radius: 22.5px ;
/* opacity: 0px; */
background-color: #D12215;
display: flex;
align-content: center;
align-items: center;
justify-content: center;
/* font-family: Arabic UI Display; */
font-size: 15.25px;
font-weight: 700;
line-height: 16px;
text-align: center;
color: 
#FFFFFF;
}
.img-menu{
    display: none;
    width: 45px;
    height: 45px;
}
@media (max-width: 991px) {
    nav{
        width: 100%;
        height: 60px;
        margin: 0px 0px 20px 0px;
        padding-left: 9px;
        padding-right: 7px;
        padding-top: 7px;
        background-color: #d2c8c88f;
        margin: 0px;
        display: flex;
        justify-content: space-around;
    }
    .img-1{
        display: flex;
    }
    .link{
        display: none;
    }
    .input-1{
        display: none;
    }
    .input-2{
        display: flex;
    }
    .img-menu{
        display: block;
    }
}
@media (max-width: 767px) {
    nav{
        width: 100%;
        height: auto;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        margin: 0px 0px 20px 0px;
        padding-left: 9px;
        padding-right: 7px;
        padding-top: 7px;
        background-color: #d2c8c872;
    }
    .img-1{
        display: flex;
        max-width: 100%;
        height: auto;
        margin-bottom: 7px;
    }
    .link{
        display: none;
    }
    .input-1{
        display: none;
    }
    .input-2{
        display: none;
    }
    .img-menu{
        display: block;
        max-width: 100%;
        height: auto;
    }
}
/* ******************************************************************** */
.content{
    width: 1078px;
    height: 790px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    /* margin-top: 40px; */
}

.content-1 {
    width: 435px;
    height: 84px;
    margin-bottom: 40px;
}
.content-1 h1{
    display: flex;
    flex-direction: row-reverse;
    /* flex-direction: column; */
font-family: IBM Plex Sans Arabic;
font-size: 56px;
font-weight: 700;
line-height: 84px;
width: 435px;
color: #12376B;
}

.content-2{
    width: 1078px;
    height: 533px;
    display: flex;
    margin-bottom: 40px;
}





.box-contener-1{
    width: 545px;
    height: 533px;
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;       
    justify-content: flex-end;
    align-content: center;
   align-items: center;
   gap: 40px;
   padding-right: 40px;
   border-radius: 7px;
}

.box-contener-1 h1{
    width: 545px;
    height: 24px;
    font-family: IBM Plex Sans Arabic;
    font-size: 46.75px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    color: #12376B;
    padding-right: 40px;
    
}
.pay{
    width: 545px;
    height: 27px;
    border: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    color: 
    #686868;
    padding-right: 40px;
    
}
.pay-2{
    width: 545px;
    height: 27px; 
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.pay-2 h1{
    width: 297px;
    height: 41px;
    font-family: IBM Plex Sans Arabic;
    font-size: 27px;
    font-weight: 700;
    line-height: 40.5px;
    text-align: right;
    color: #12376B;
    display: flex;
    justify-content: flex-end;
}
.pay-2 h2{
    width: 72px;
    height: 41px;
    font-family: IBM Plex Sans Arabic;
    font-size: 27px;
    font-weight: 400;
    line-height: 40.5px;
    text-align: right;
    color: #818181;
}
.box-contener-2{
    width: 545px;
    height: 533px;
}
.box-contener-2 img{
    width: 546px;
    height: 533px;
    top: 349px;
    left: 710px;
    gap: 0px;
    opacity: 0px;
    object-fit: cover;
    border-radius: 7px;
}
.content-3{
    width: 1077px;
height: 65px;
border-radius: 137px;
background-color: #F04A26;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
}
.content-3 a{
    text-decoration: none;
}
.content-3 a button{
    /* width: 303px; */
height: 50px;
font-family: IBM Plex Sans Arabic;
font-size: 36px;
font-weight: 700;
line-height: 50.4px;
text-align: right;
color: #FFFFFF;
background-color: #F04A26;
border: none;
}

@media (max-width:991px) {
    .content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        height: auto;
        margin-bottom: 40px;
    }
    .content-1{
        width: 100%;
        height: auto;
        display: flex;
        /* flex-wrap: wrap; */
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .content-1 h1{
        width: 100%;
        height: auto;
        text-align: center;
        margin: 0px;
        padding: 0px;
        display: flex;
            flex-direction: column;
    }
    .content-2{
        max-width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 20px;
    }
    .box-contener-1 ,.box-contener-2,.box-contener-2 img{
        max-width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0px;
        padding: 0px;
    }
    .box-contener-1 h1{
        width: 100%;
        height: auto;
        line-height: 60px;
        text-align: center;
        padding-right: 0px;
    }
    .content-3{
        width: 80%;
    }
}

/* ********************************************************************* */
.last-section{
    width: 100%;
    height: 520px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.contan-last-section{
    width: 1358px;
    height: 490px;
    border-radius: 15px;
    background: #F04B25;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.body-contan-last-section-1{
    width: 1358px;
    height: 343px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 40px;
    margin-right: 40px;
}
.box-1{
    width: 549px;
    height: 323px;
    background: #F04B25;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    align-items: center;
    margin-right: 40px;
    padding-right: 30px;
    margin-top: 30px;

}
.box-2-2{
    display: flex;
}
.box-1 .img-1-img{
    width: 160px;
height: 40px;
color: #FFFFFF;
margin-bottom: 35px;
margin-left: 25px;
}
.omar{
    width: 202px;
height: 228px;
display: flex;
flex-wrap: wrap;
}
.omar .div-1{
    width: 202px;
    height: 24px;
    margin-bottom: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-around;
    background: #F04B25;
}
.omar .div-1 h1{
    width: 163px;
height: 24px;
font-family: Alexandria;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #FFFFFF;
margin-right: 25px;
display: flex;
justify-content: flex-end;
}
.omar .div-1 img ,.div-2 img{
    width: 16px;
height: 21.33px;
font-family: Font Awesome 5 Free;
font-size: 16px;
font-weight: 900;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}
.omar .div-2{
    width: 202px;
    height: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background: #F04B25;
}
.div-2 a img{
    width: auto;
    height: auto;
   color: white;
}
.body-contan-last-section-1 .box-2{
    width: 338px;
    /* height: 323px; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    /* justify-content: flex-end; */
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-right: 40px;
    padding-right: 40px;
}
.box-2 h1{
    width: 100%;
height: 18px;
font-family: IBM Plex Sans Arabic;
font-size: 24px;
font-weight: 700;
line-height: 13px;
text-align: right;
color: #D9D9D9;
/* margin-bottom: 33px; */
display: flex;
justify-content: flex-end;
align-items: center;
align-content: center;
}
.box-2-a1{
    width: 100%;
height: 30px;
font-family: IBM Plex Sans Arabic;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: right;
color: #FFFFFF;
display: flex;
justify-content:flex-end;
align-items: center;
align-content: center;
text-decoration: none;
} 
.box-2-a2, .box-2-a3,.box-2-a4{
    width: 100%;
height: 30px;
font-family: IBM Plex Sans Arabic;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: right;
text-decoration: none;
color: #FFFFFF;
display: flex;
justify-content: flex-end;
align-items: center;
align-content: center;
text-decoration: none;
}
.body-contan-last-section-1 .box-3{
    width: 338px;
    height: 323px;
    display: flex;
    justify-content: flex-end;
    /* border: 2px solid black; */
    margin-top: 30px;
    margin-right: 40px;
    padding-right: 40px;

}

.body-contan-last-section-2{
    display: flex;
    width: 1150px;
    height: 127px;
    border-top: 2px solid white;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 40px;
    gap: 40px;
}
.part-1{
    width: 285px;
height: 30px;
font-family: Nunito Sans;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: right;
color: #FFFFFF;
}
.part-2{
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.part-2 .part-2-1{
    width: 92px;
height: 30px;
font-family: Nunito Sans;
font-size: 16px;
font-weight: 400;
line-height: 30px;
text-align: left;
color: #FFFFFF;
margin-right: 35px;
}
.part-2 .part-2-2{
    width: 1.33px;
height: 18.67px;
margin-right: 35px;
background-color: #E5E5E5;
}
.part-2 .part-2-3{
    width: 207px;
    height: 30px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #E5E5E5;
}
@media (max-width:991px) {
    .last-section{
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        /* display: flex; */
        /* flex-wrap: wrap; */
    }
    .contan-last-section{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .body-contan-last-section-1{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        /* align-content: center;
        align-items: center; */
        justify-content: center;
        margin-bottom: 40px;
    }
    .box-1{
        width: 100%;
        height: auto;
        display: flex;
        /* flex-wrap: wrap;
        justify-content: center;
        align-items: center; */
        align-content: center;
        margin: 0px;
        padding: 10px;
    }
    
    .box-2-2{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        /* margin-left: 40px; */
    }
    .box-2{
        width:50%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: flex-start;
        justify-content: center;
        margin: 0px;
        margin-right: 0%;
        padding-right: 0px;
        margin-bottom: 30px;
        margin: 0px;
    }
    .box-2 h1{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .omar .div-1{
        width:100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .omar{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .body-contan-last-section-2{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin-top: 40px;
        padding-bottom: 40px;
    }
    .body-contan-last-section-2 .part-2{
        width: auto;
        display: flex;
        flex-wrap: wrap;
    }
}
